<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.diraj.kreddit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".KReddit"
        android:allowBackup="false"
        android:icon="@mipmap/ic_kreddit_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_kreddit_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialAppTheme"
        tools:ignore="AllowBackup">

        <activity
            android:name=".presentation.login.AuthenticationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="kreddit"
                    android:host="authenticate" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.home.HomeActivity" />
    </application>

</manifest>